@()
<div class="user-line" ng-click="openContactSheet(contact)">
    <div class="user-infos">
        <div
        class="avatar-status {{getPhoneStateBackColor(contact)}}"
        title="{{isMeetingRoom(contact) ? 'MEETING_ROOM' : getPhoneStateLabel(contact.status, contact.videoStatus) | translate}}">
            <div class="avatar-circle">
                <i ng-if="isMeetingRoom(contact)" class="is-meeting-room fa fa-users"></i>
                <span ng-if="!isMeetingRoom(contact)">{{ contact.initials }}</span>
            </div>
        </div>
        <div class="w-0">
            <div class="avatar-star align-star" ng-show='!contact.favorite && contact.contact_id' title="{{isMeetingRoom(contact) ? 'MEETING_ROOM_FAVORITE':'CONTACT_FAVORITE' | translate}}">
                <a ng-click="addFavorite(contact, $event)" href="">
                    <span class="glyphicon glyphicon-star-empty glyph-btn"></span>
                </a>
            </div>
            <div class="avatar-star" ng-show='contact.favorite && contact.contact_id' title="{{'REMOVE_FAVORITE' | translate}}">
                <a ng-click="removeFavorite(contact, $event)" href="">
                    <span class="glyphicon glyphicon-star glyph-btn favorite"></span>
                </a>
            </div>
        </div>
        <div
        class="text-left name">
            {{contact.entry[0]}}
        </div>
    </div>

    <div class="call-buttons" ng-class="callButtonsDisplay(contact)" ng-if="hasDetail(contact) && ((isMeetingRoom(contact) && isJitsiAvailable()) || !isMeetingRoom(contact))">
        <div class="edit action button" ng-if="contact.personal" ui-sref="{{navigateToContactEditor(contact)}}" ng-click="$event.stopPropagation()">
            <span class="nd-action-button" title="{{ 'EDIT' | translate }}">
                <span>
                    <i class="xivo-modifier"></i>
                </span>
            </span>
        </div>
        <div class="share button" ng-if="isMeetingRoom(contact)&& contact.url">
            <span  class="d-inline-flex number-line" title="{{'SHARE_LINK' | translate}}">
                <div
                class="call buton">
                    <span
                    class="nd-action-button"
                    ng-click="clipboardPopup('meetingroom', $event)"
                    ngclipboard data-clipboard-text="{{generateMeetingShareLink(contact)}}"
                    id="call-video-{{contact.contact_id}}">
                        <span>
                            <i class="fas fa-share-alt"></i>
                        </span>

                    </span>
                </div>
            </span>
        </div>
        <div class="comments button" ng-if="!isMeetingRoom(contact) && canShowChat(contact) && appConfig.chat">
            <span class="nd-action-button" ng-click="goToChat(contact.username,$event)" title="{{'CHAT' | translate}}">
                <span>
                    <span>
                        <i class="xivo-message"></i>
                    </span>
                </span>
            </span>
        </div>
        <div class="button" ng-if="userWithInviteToConferenceIcon(contact) || meetingRoomWithInviteToConferenceIcon(contact)">
            <span class="nd-action-button invite-to-conference-icon" 
            ng-click="inviteToConference(contact.phoneNumbers[0], $event)"
            title="{{'INVITE_TO_CONFERENCE' | translate}}"></span>
            <div class="xivo-phone-plus-wrapper">
                <span><i class="xivo-telephone"></i></span>
                <i class="fa fa-plus xivo-phone-plus" aria-hidden="true"></i>
            </div>
        </div>
        <div class="video-call button" ng-if="isJitsiAvailable() && isMeetingRoom(contact)">
            <span class="nd-action-button" title="{{ 'P2P_VIDEO_CALL' | translate}}" ng-click="join(contact, $event)">
                <span>
                    <i class="xivo-appel-visio"></i>
                </span>
            </span>
        </div>
        <div class="video-call button" ng-if="isJitsiAvailable() && canInviteToMeetingRoom(contact)">
            <span class="nd-action-button"  title="{{ 'INVITE_TO_MEETING_ROOM' | translate}}"
            ng-click="inviteToMeetingRoom(contact.username, contact.displayName, $event)">
                <div class="fa-users-plus-wrapper">
                    <span><i class="fa fa-users fa-users-plus-0"></i></span>
                    <i class="fa fa-plus fa-users-plus-1" aria-hidden="true"></i>
                </div>
            </span>
        </div>
        <div class="video-call button"
        ng-if="isJitsiAvailable() && !isMeetingRoom(contact) && canShowVideo(contact) && !canInviteToMeetingRoom(contact)">
            <span class="nd-action-button" ng-if="isJitsiAvailable() && !canInviteToMeetingRoom()"
            title="{{'P2P_VIDEO_CALL' | translate}}"
            ng-click="startPointToPointVideoCall(contact.username, contact.displayName, $event)">
            <span>
                <i class="xivo-appel-visio"></i>
                </span>
            </span>
        </div>
        <div class="call button" ng-if="userWithCallIcon(contact) || meetingRoomWithCallIcon(contact)">
            <span class="nd-action-button" ng-click="makeACall(contact, $event)" title="{{'PHONE_CALL' | translate}}">
                <span>
                    <i class="xivo-telephone"></i>
                </span>
            </span>
        </div>
        <div class="call button" ng-if="contactSheethasJustEmail(contact)">
            <div class="email-button button"  title="{{'SEND_EMAIL' | translate}}">
                <a href="" class="nd-action-button" ng-href="{{contact.mailToLink}}">
                    <span long-text="{{email}}" max-chars="{{emailMaxChars}}"></span>
                    <span>
                        <i class="fas fa-envelope"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="call-buttons" ng-if="isMeetingRoom(contact) && !isJitsiAvailable()">
        <div class="no-jitsi-error">{{'ERROR_NO_JITSI_AVAILABLE'}}</div>
    </div>
    <div class="parent-chevron" ng-if="hasChevron(contact)">
        <i ng-class="getChevronClass(contact)"
        class="fa children-chevron" aria-hidden="true"></i>
    </div>
</div>
<div ng-if="contact.toggleDetails && hasDetail(contact)" class="user-detail">
    <div ng-repeat="phone in contact.phoneNumbers track by $index" class="w-100 call-buttons">
        <div class="input-group">
            <span class="d-inline-flex number-line" ng-if="isCallable(contact) || isMeetingRoom(contact)">
                <span
                class="d-flex phone-number"
                title="{{'COPY_CLIPBOARD' | translate}}"
                ngclipboard
                ng-click="clipboardPopup('phone', $event)"
                data-clipboard-text="{{ isMeetingRoom(contact) ? '**' + phone : (phone | prettyPhoneNb) }}" >
                    {{ isMeetingRoom(contact) ? '**' + phone : (phone | prettyPhoneNb) }}
                </span>
                <div
                class="call button"
                title="{{'PHONE_CALL' | translate}}">
                    <span class="nd-action-button" ng-click="makeACall(contact, $event, phone)">
                        <span>
                            <i class="xivo-telephone"></i>
                        </span>
                    </span>
                </div>
                <div ng-if="canInviteToConference()"
                class="call button" ng-click="inviteToConference(phone, $event)"
                title="{{'INVITE_TO_CONFERENCE' | translate}}">
                    <span class="nd-action-button">
                        <div class="xivo-phone-plus-wrapper">
                            <span><i class="xivo-telephone"></i></span>
                            <i class="fa fa-plus xivo-phone-plus" aria-hidden="true"></i>
                        </div>  
                    </span>
                </div>
            </span>
        </div>
    </div>


    <div ng-if="contact.email" class="d-inline-flex number-line call-buttons">
        <span title="{{'COPY_CLIPBOARD' | translate}}"
        ngclipboard ng-click="clipboardPopup('email', $event)" data-clipboard-text="{{contact.email}}" long-text="{{contact.email}}" max-chars="{{contact.emailMaxChars}}" class="d-flex phone-number"></span>
        <div  class="button" title="{{'SEND_EMAIL' | translate}}">
            <a href="" class="nd-action-button" ng-href="{{contact.mailToLink}}">
                <span long-text="{{email}}" max-chars="{{emailMaxChars}}"></span>
                <span>
                    <i class="fas fa-envelope"></i>
                </span>
            </a>
        </div>

    </div>
</div>
