@()
<div class="title-header" ng-if="showSearch">
    <div class="messages-header">
        <span>{{'RESULTS'| translate}}</span>
    </div>
</div>
<div class="show-grid">
    <div class="no-result" ng-if="showSearch && searchResult.length == 0" translate="NO_RESULT"></div>
    <div ng-show="showSearch" class="contact-favorites">
        <div
        class="text-center contact"
        ng-class="{'contact-separator': $last === false}"
        ng-repeat="contact in searchResult track by $index" ng-if="hasDetail(contact) && ((isMeetingRoom(contact) && isJitsiAvailable()) || !isMeetingRoom(contact))">
            @contactdata()
        </div>
    </div>

    <div class="no-result" ng-if="!showSearch && favorites.length == 0" translate="NO_FAVORITES"></div>
    <div ng-hide="showSearch" class="contact-favorites">
        <div
        class="text-center contact"
        ng-class="{'contact-separator': $last === false}"
        ng-repeat="contact in favorites track by $index" ng-if="hasDetail(contact) && ((isMeetingRoom(contact) && isJitsiAvailable()) || !isMeetingRoom(contact))">
        @contactdata()
        </div>
    </div>
</div>
