@()
<div class="header header-container" ng-controller="UserController">
    @confirmdialog()
    <div class="user-header-menu">
        <a class="menu" title="{{'USER_CONFIGURATION' | translate}}" href="" ng-click="showMenu()" id="menu"><i class="xivo xivo-menu"></i></a>
                    <div title="{{'CALL_MAN_HEADER_TITLE' | translate}}" ng-mouseover="ctrl.hoverOnContext=true" ng-mouseleave="ctrl.hoverOnContext=false"
                        ng-init="ctrl.hoverOnContext=false" class="context user-header-btn" ng-controller="CallMgtMenuController as ctrl"
                        ng-click="ctrl.showForward()">
                        <img ng-show="!ctrl.hoverOnContext"
                            ng-src="{{'@routes.Assets.versioned("images/ucassistant/")'+ getDisplayIcon() +'_logo.svg'}}" />
                        <img ng-show="ctrl.hoverOnContext"
                            ng-src="{{'@routes.Assets.versioned("images/ucassistant/")'+ getDisplayIcon() +'_logo_hover.svg'}}" />
                        <a id="userForward" popover-placement="bottom">
                            @callmgtdialog()
                    </div>
                <a class="user-header-btn" title="{{'USER_VOICEMAIL' | translate}}" ng-controller="VoicemailController" ng-click="callMailBox()"><span class="fas fa-voicemail"></span><span class="voicemail-badge badge"
                ng-if="voiceMail.newMessages">{{voiceMail.newMessages}}</span>
            </a>
    </div>
    <div class="user-identity">
    <div class="user">{{user.fullName}}</div>
    <div class="forward-number" ng-show="isForwarded()">{{getForwardNumberOrDnd()}}</div>
</div>
<div class="header-clear"></div>
