.agent-state-directive {

    @media @sidebar {
      margin-left: 5px;
      padding-top: 4px;
      width: 20px;
    }

    .dropdown-menu {
        margin: 5px 0;
        padding: 15px 0;
    }

    margin-left:8px;
    & > a {
        color: #fff;
        text-decoration: none;
        cursor:pointer;
        display:block;
        padding-left: 8px;

        @media @sidebar {
          padding-left: 0px;
          pointer-events: none;
        }
    }
    .fa {
        width:20px;
        height:20px;
        border-radius:10px;
        text-align:center;
        padding-top:5px;
        margin-right: 2px;
        font-size: 0.85em;
        &.fa-power-off {
            padding-left: 1px;
        }
    }

    .agent-state-cause, .agent-state-name {
        @media @sidebar {
          display: none;
        }
    }

    .agent-state-time {
      font-size: 12px;
      letter-spacing: 1px;

      @media @sidebar {
        display: none;
      }
    }

    ul {
        color:#000;
        background: #f2f2f2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        li {
            a {
              padding: 3px 14px;
            }
            span {
              padding-left: 5px;
            }
            &:hover, a:hover {
                background-color: @agent-menu-dark-gray;
                color: #fff;
            }
            .fa {
                color: #fff;
            }
        }
    }
}
