
.chat-party .m-party {
  padding: 0; 
}

.chat-message {
  width: 150px;
  padding-right : 2px;
} 

.hour-date-unread-msg {
  margin-right: 10px;  
}

.no-result {
  height: 50px;
  font-family: roboto-italic;
  opacity: 0.5;
  font-size: 15px;
  text-align: center;
  padding: 8px; 
}

.party-container {
  height: 100%;
}

.chat-header {
  display: grid;
  grid-template-columns: 50px 1fr 70px;

  .chat-arrow {
    border: 0;
    border-radius: 0.25rem;
    background-color: #b1b1b1;
    float: left;
    color: @xivo-light;
    cursor: pointer;
    font-size: 18px;
    padding: 0 10px;
    margin: 1px;
   
      i:hover {
        top: -3px;
        right: 5px;
        color: @xivo-primary;
      }
  }

  .messages-header {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .call-remote-party {
    float: right;
    margin-right:12px;

    .call-chat-button {
      border: none;
      padding: 0;
      background: none;
      .call-chat-icon {
        font-size: 15px;
        color: @xivo-light;
        
        &:hover {
          color: @xivo-primary;
        }
      }
    }

    .video-chat-button {
      border: none;
      padding: 0;
      background: none;
      .video-chat-icon {
        margin-left:12px;
        font-size: 15px;
        color: @xivo-light;
        &:hover {
          color: @xivo-primary;
        }
      }
    }
  }
}

.party-messages {
  overflow: auto;
  height: ~"calc(100% - 136px)";
  display: flex;
  flex-direction: column;
  flex: 1 1 90%;
  word-break: break-word;
  word-wrap: break-word;
  .party-messages-text {
    white-space:pre-line;
  }

  .you p::before {
    content      : '';
    position     : absolute;
    width        : 0;
    height       : 0;
    left         : -12px;
    top          : 0;
    border-top   : 0px solid transparent;
    border-right : 16px solid #eee;
    border-bottom: 16px solid transparent;
  }

  .you {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 10px;
    p {
      clear: both;
      display: grid;
      grid-template-rows: auto 10px;
      row-gap: 5px;      
      grid-column: 1;
      position: relative;
      float: left;
      margin: 10px 90px 0 20px;
      max-width: 80%;
      padding: 10px;
      border-radius: 5px;
      background-color:#eee;
    }
    span.message-timestamp {
      font-style: italic;
      justify-self: end;
      font-size: 10px;
      color: @xivo-dark-gray;
    }
  }

  .me {
    margin-bottom: 10px;
  
    p {
      clear      : both;
      display: grid;
      row-gap: 5px;
      position: relative;
      float: right;
      margin: 10px 20px 0 90px;
      background-color: #fdede2;
      max-width: 80%;
      padding: 10px;
      border-radius: 5px;
      span.party-messages-text {
        float: right;
      }
    }
    span.message-timestamp {
      font-style: italic;
      justify-self: end;
      font-size: 10px;
      color: @xivo-dark-gray;
    }
  }

  .me p::after {
    content      : '';
    position     : absolute;
    width        : 0;
    height       : 0;
    right        : -10px;
    top : 0;
    border-top   : 0px solid transparent;
    border-left  : 16px solid #fdede2;
    border-bottom: 16px solid transparent;
  }
}

.chat-sender {
  height: 100px;
  padding: 0px;
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: 4fr 1fr;
  .chat-text-send {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595959;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      .paperplane {
        color: @xivo-primary;
      }
    }
    .paperplane {
      color: #595959;
    }
  }
}


new-message-badge {
  .badge-message {
    top: -7px;
    right: -53px;
    height: 21px;
    width: 21px;
    border: 2px solid white;
    .fa-envelope {
      font-size: 10px;
      top: -7px!important;
      position: relative;
    }
  }
}

.chat-arrow {
  background-color: #b1b1b1;
  color: white;
  position: relative;
  bottom: 4px;
  right: 5px;

  i:hover {
      color: white;
  }
}

.conversation-history-header, .conversation-header {
  background-color: #b1b1b1;
  height: 35px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 8px;
    
  .header-text {
     padding-top: 3px;
  }
}
