@font-face {
  font-family: FontAwesome;
  src:url(/assets/bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.3)
}

@fa-font-path: "/assets/fonts/fa5/webfonts";

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-italic;
  src: url(/assets/fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: xivo;
  src: url(/assets/fonts/xivo/fonts/xivo.ttf);
}
