<span class="main phone"><i class="fa fa-phone" aria-hidden="true"></i>{{agentState.phoneNb}}</span>
<div class="agent-state-directive" uib-dropdown>
    <a id="agent-state-menu" uib-dropdown-toggle>
        <i class="fa" ng-class="getAgentStateClassName(agentState)" aria-hidden="true"></i>
        <span class="agent-state-name">{{agentState.name | translate}}</span>
        <span class="agent-state-cause">{{agentState.causeName}}</span>
        <span ng-if="displayTime()">
            <span class="agent-state-time">- {{agentState.timeInState | timeInState}}</span>
        </span>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="agent-state-menu">
        <li ng-repeat="item in ctiStatuses">
            <a href ng-click="switchState(item)"><i class="fa" ng-class="getAgentStateClassName(item)" aria-hidden="true"></i><span ng-if="item.status === undefined">{{item.name | translate }}</span><span ng-if="item.status !== undefined">{{item.displayName}}</span></a>
        </li>
    </ul>
</div>
