<div class="call-conference call-conference-established">
    <div class="call-info conference-inner conference-border">
        <div class="call-icon"><i class="fa fa-play" aria-hidden="true"></i>
        </div>
        <div class="call-party conference-main">
            <div class="call-party-name">{{'AGT_CALL_CONFERENCE_TITLE' | translate}}</div>
        </div>
        <div class="conference-main call-queue-conferences">
            <div class="call-time" elapsed-time-from="conference.startTime"></div>
        </div>
        <div class="call-options conference-main">
            <div><img ng-src="/assets/images/ccagent/call/call_rec_{{recording}}.svg" /></div>
            <div><img ng-src="/assets/images/ccagent/call/call_ecoute_discrete_{{listened}}.svg" /></div>
        </div>
    </div>
    <div class="call-actions conference-main">
        <div ng-repeat="action in getCallActions()" ng-class="action.label" ng-init="variant='default'" ng-mouseover="variant='over'" ng-mouseout="variant='default'">
            <a href ng-click="action.trigger()" title="{{ 'AGT_CALL_' + action.label.toUpperCase() | translate }}">
                <img ng-src="/assets/images/ccagent/call/{{action.img + '_' + variant}}.png" />
            </a>
        </div>
    </div>

    <div class="call-info" ng-class="{'conference-border': !$last}" ng-repeat="call in conference.calls track by $index">
        <div class="call-party conference-sub" ng-if="hasNameAndNumber(call)">
            <div class="call-party-name"><scroll-text>{{call.otherDName}}</scroll-text></div>
            <div class="call-party-number">{{call.otherDN}}</div>
        </div>

        <div class="call-party conference-sub" ng-if="!hasNameAndNumber(call)">
            <div class="call-party-external-num">{{call.otherDN}}</div>
        </div>
        
        <div class="call-queue-conferences conference-sub">
            <div class="call-time" elapsed-time-from="call.startTime"></div>
        </div>
    </div>

</div>
