<div class="modal-header">
    <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
    <div class="history">{{ keysHistory | limitTo : -20 }}</div>
</div>
<div class="modal-body">

    <table class="table">
        <tbody>
            <tr ng-repeat="row in keyboard">
                <td ng-repeat="key in row" ng-init="variant='default'" ng-mouseover="variant='over'" ng-mouseout="variant='default'" class="keyboard-key" ng-click="keyPressed(key)">
                        {{ key }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
