<div class="conversation-history-header">
    <span class="header-text">{{'LIST_OF_CONVERSATIONS' | translate}}</span>
</div>
<display-conversation-history action="gotoConversation"></display-conversation-history>