<div ng-if="action" class="third-party-container" ng-class="ctrl.isSwitchboard()">
    <div ng-show="action.title" class="title">{{action.title}}</div>
    <iframe id="thirdpartyframe" ng-src="{{action.url | trusted}}" frameborder="0"></iframe>
</div>