.AgentLoggedOut {
  font-weight: lighter;
}
.AgentReady {
  font-weight: normal;
}
.AgentOnPause {
  font-weight: normal;
}
.AgentOnCall {
  font-weight: normal;
}
.AgentOnIncomingCall {
  font-weight: normal;
}
.AgentOnOutgoingCall {
  font-weight: normal;
}
.AgentOnWrapup {
  font-weight: normal;
}
.AgentOnAcdCall {
  font-weight: bold;
}
.AgentDialing {
  font-weight: bold;
}
.AgentRinging {
  font-weight: bold;
}




