<div class="call-remote-party">
    <div class="call-buttons">
        <span class="nd-action-button call-chat-button" ng-click="callRemoteParty()" title="{{'CONVERSATION_CALL' | translate}}">
            <i class="xivo-telephone"></i>
        </span>
        <span ng-if="isJitsiAvailable()" class="nd-action-button video-chat-button" ng-click="startPointToPointVideoCall()"
        title="{{'P2P_VIDEO_CALL' | translate}}">
            <i class="xivo-appel-visio"></i>
        </span>
    </div>
</div>