<span class="toast-container"></span>
<div class="chat-sender">
  <textarea ng-keydown="checkForEnter($event)" ng-model="areaMessage" class="chat-text disable-scrollbars" rows="3"
            cols="47"
            placeholder="{{'MESSAGE_TO_SEND' | translate}}"></textarea>

    <div ng-show="areaMessage.length > 0" ng-click="sendMessage()" class="chat-text-send">
        <span class="nd-action-button" title="{{ 'CHAT_SEND' | translate }}">
            <span>
                <i class="xivo-envoyer-message"></i>
            </span>
        </span>
    </div>

</div>