md-autocomplete.md-default-theme input, md-autocomplete input {
  color: rgba(0, 0, 0, 0.87)
}

.md-autocomplete-standard-list-container.md-default-theme .md-autocomplete-suggestion, .md-autocomplete-standard-list-container .md-autocomplete-suggestion, .md-autocomplete-suggestions-container.md-default-theme .md-autocomplete-suggestion, .md-autocomplete-suggestions-container .md-autocomplete-suggestion {
  color: rgba(0, 0, 0, 0.87)
}

md-bottom-sheet.md-default-theme.md-list md-list-item, md-bottom-sheet.md-list md-list-item {
  color: rgba(0, 0, 0, 0.87)
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: @xivo-primary;
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
  background-color: @xivo-primary;;
  color: rgb(255, 255, 255)
}

.md-button.md-default-theme.md-primary.md-fab:not([disabled]) md-icon, .md-button.md-primary.md-fab:not([disabled]) md-icon, .md-button.md-default-theme.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-primary.md-raised:not([disabled]) md-icon {
  color: rgb(255, 255, 255)
}

.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: rgb(57, 73, 171)
}

.md-button.md-default-theme.md-primary:not([disabled]) md-icon, .md-button.md-primary:not([disabled]) md-icon {
  color: @xivo-primary;
}

._md a.md-default-theme:not(.md-button).md-primary, ._md a:not(.md-button).md-primary {
  color: @xivo-primary;
}

._md a.md-default-theme:not(.md-button).md-primary:hover, ._md a:not(.md-button).md-primary:hover {
  color: rgb(48, 63, 159)
}

md-card.md-default-theme .md-card-image, md-card .md-card-image {
  border-radius: 2px 2px 0 0
}

md-card.md-default-theme md-card-header md-card-header-text .md-subhead, md-card md-card-header md-card-header-text .md-subhead, md-card.md-default-theme md-card-title md-card-title-text:not(:only-child) .md-subhead, md-card md-card-title md-card-title-text:not(:only-child) .md-subhead {
  color: rgba(0, 0, 0, 0.54)
}

md-checkbox.md-default-theme .md-ink-ripple, md-checkbox .md-ink-ripple {
  color: rgba(0, 0, 0, 0.54)
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
  border-color: rgba(0, 0, 0, 0.54)
}

md-checkbox.md-default-theme:not([disabled]).md-primary .md-ripple, md-checkbox:not([disabled]).md-primary .md-ripple {
  color: rgb(57, 73, 171)
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-ripple, md-checkbox:not([disabled]).md-primary.md-checked .md-ripple {
  color: rgb(117, 117, 117)
}

md-checkbox.md-default-theme:not([disabled]).md-primary .md-ink-ripple, md-checkbox:not([disabled]).md-primary .md-ink-ripple {
  color: rgba(0, 0, 0, 0.54)
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-ink-ripple, md-checkbox:not([disabled]).md-primary.md-checked .md-ink-ripple {
  color: rgba(63, 81, 181, 0.87)
}

md-checkbox.md-default-theme:not([disabled]).md-primary:not(.md-checked) .md-icon, md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon {
  border-color: rgba(0, 0, 0, 0.54)
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon, md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
  background-color: rgba(63, 81, 181, 0.87)
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked.md-focused .md-container:before, md-checkbox:not([disabled]).md-primary.md-checked.md-focused .md-container:before {
  background-color: rgba(63, 81, 181, 0.26)
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after, md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after {
  border-color: rgba(255, 255, 255, 0.87)
}

md-checkbox.md-default-theme:not([disabled]).md-primary .md-indeterminate[disabled] .md-container, md-checkbox:not([disabled]).md-primary .md-indeterminate[disabled] .md-container {
  color: rgba(0, 0, 0, 0.38)
}

md-checkbox.md-default-theme[disabled]:not(.md-checked) .md-icon, md-checkbox[disabled]:not(.md-checked) .md-icon {
  border-color: rgba(0, 0, 0, 0.38)
}

md-checkbox.md-default-theme[disabled] .md-label, md-checkbox[disabled] .md-label {
  color: rgba(0, 0, 0, 0.38)
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: 0 1px rgba(0, 0, 0, 0.12)
}

md-chips.md-default-theme .md-chips.md-focused, md-chips .md-chips.md-focused {
  box-shadow: 0 2px @xivo-primary;
}

md-chips.md-default-theme .md-chips .md-chip-input-container input, md-chips .md-chips .md-chip-input-container input {
  color: rgba(0, 0, 0, 0.87)
}

md-chips.md-default-theme .md-chips .md-chip-input-container input::-webkit-input-placeholder, md-chips .md-chips .md-chip-input-container input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

md-chips.md-default-theme .md-chips .md-chip-input-container input:-ms-input-placeholder, md-chips .md-chips .md-chip-input-container input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

md-chips.md-default-theme .md-chips .md-chip-input-container input::-ms-input-placeholder, md-chips .md-chips .md-chip-input-container input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

md-chips.md-default-theme .md-chips .md-chip-input-container input::placeholder, md-chips .md-chips .md-chip-input-container input::placeholder {
  color: rgba(0, 0, 0, 0.38)
}

md-chips.md-default-theme .md-chips .md-chip-input-container input:-moz-placeholder, md-chips .md-chips .md-chip-input-container input:-moz-placeholder, md-chips.md-default-theme .md-chips .md-chip-input-container input::-moz-placeholder, md-chips .md-chips .md-chip-input-container input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1
}

md-chips.md-default-theme md-chip.md-focused, md-chips md-chip.md-focused {
  background: @xivo-primary;;
  color: rgb(255, 255, 255)
}

md-chips.md-default-theme md-chip.md-focused md-icon, md-chips md-chip.md-focused md-icon {
  color: rgb(255, 255, 255)
}

md-chips.md-default-theme .md-chip-remove-container button.md-chip-remove md-icon, md-chips .md-chip-remove-container button.md-chip-remove md-icon, md-chips.md-default-theme .md-chip-remove-container buttonmd-chip-remove md-icon, md-chips .md-chip-remove-container buttonmd-chip-remove md-icon {
  fill: rgba(0, 0, 0, 0.54);
  color: rgba(0, 0, 0, 0.54)
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
  border: 1px solid @xivo-primary;
}

.md-default-theme .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled, .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled {
  color: rgba(63, 81, 181, 0.6)
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: @xivo-primary;;
  border-color: transparent;
  color: rgb(255, 255, 255)
}

.md-default-theme .md-calendar-date-disabled, .md-calendar-date-disabled, .md-default-theme .md-calendar-month-label-disabled, .md-calendar-month-label-disabled {
  color: rgba(0, 0, 0, 0.38)
}

.md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {
  color: rgba(0, 0, 0, 0.87)
}

.md-default-theme .md-datepicker-input::-webkit-input-placeholder, .md-datepicker-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

.md-default-theme .md-datepicker-input:-ms-input-placeholder, .md-datepicker-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

.md-default-theme .md-datepicker-input::-ms-input-placeholder, .md-datepicker-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

.md-default-theme .md-datepicker-input::placeholder, .md-datepicker-input::placeholder {
  color: rgba(0, 0, 0, 0.38)
}

.md-default-theme .md-datepicker-input:-moz-placeholder, .md-datepicker-input:-moz-placeholder, .md-default-theme .md-datepicker-input::-moz-placeholder, .md-datepicker-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
  border-bottom-color: rgba(0, 0, 0, 0.12)
}

.md-default-theme .md-datepicker-input-container.md-datepicker-focused, .md-datepicker-input-container.md-datepicker-focused {
  border-bottom-color: @xivo-primary;
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: rgba(0, 0, 0, 0.54)
}

.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon, .md-datepicker-open .md-datepicker-calendar-icon {
  color: @xivo-primary;
}

md-dialog.md-default-theme.md-content-overflow md-dialog-actions, md-dialog.md-content-overflow md-dialog-actions {
  border-top-color: rgba(0, 0, 0, 0.12)
}

md-divider.md-default-theme, md-divider {
  border-color: rgba(0, 0, 0, 0.12)
}

md-icon.md-default-theme, md-icon {
  color: rgba(0, 0, 0, 0.54)
}

md-icon.md-default-theme.md-primary, md-icon.md-primary {
  color: @xivo-primary;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-color: @xivo-primary;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon {
  color: @xivo-primary;
}