<div class="call-list">
    <div class="history-children-details history-child-grid"
    ng-repeat="call in callList">
    <div class="children-status history-child-grid-item">
      <img ng-src="{{iconRetrieved(call.callStatus ? call.callStatus : call.status)}}" />
    </div>
    <div class="children-start history-child-grid-item" title="{{call.day ? call.day : call.start}}">
      <span><i class="fa fa-calendar"></i> {{(call.day ? call.day : call.start) | toUserFriendlyDate}}</span>
    </div>
    <div class="children-duration history-child-grid-item">
      <span><i class="fa fa-hourglass-half"></i> {{call.duration | callDuration}}</span>
    </div>
  </div>
</div>