<div ng-if="ongoingInvitations > 0" class="meetingrooms-invite-container">
    <div class="meetingrooms-invite-count"><span>{{'ONGOING_INVITATIONS' | translate}}:</span> <span>{{ongoingInvitations}}</span> <span><i class="fa fa-spinner fa-pulse fa-fw"></i></span></div>
</div>