<div class="form-group">
    <div class="content-item title">{{'RINGTONE_LABEL' | translate}}</div>
    <ui-select ng-model="selectedRingtone" theme="bootstrap" ng-required="false" on-select="changeRingtone($model)">
        <ui-select-match placeholder="{{'SELECT_RINGING_DEVICE' | translate}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="ringtone in ringtones">
            {{ringtone.name}}
        </ui-select-choices>
    </ui-select>
</div>
