<div ng-if="show" class="volume-meter-wrapper">
    <volume-bar volume="outputVolume" progress-bar-classes="outputProgressBarClasses()" icon-classes="outputIconClasses()"></volume-bar>
    <volume-bar volume="inputVolume" progress-bar-classes="inputProgressBarClasses()" icon-classes="inputIconClasses()"></volume-bar>
</div>