@font-face {
  font-family: 'xivo';
  src:  url('fonts/xivo.eot?xo5bsd');
  src:  url('fonts/xivo.eot?xo5bsd#iefix') format('embedded-opentype'),
    url('fonts/xivo.ttf?xo5bsd') format('truetype'),
    url('fonts/xivo.woff?xo5bsd') format('woff'),
    url('fonts/xivo.svg?xo5bsd#xivo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="xivo-"], [class*=" xivo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xivo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xivo-appel-visio:before {
  content: "\e900";
}
.xivo-boite-vocale:before {
  content: "\e901";
}
.xivo-clavier-bloc-appel:before {
  content: "\e902";
}
.xivo-creer-contact:before {
  content: "\e903";
}
.xivo-croix:before {
  content: "\e904";
}
.xivo-envoyer-message:before {
  content: "\e905";
}
.xivo-exporter-des-conatcts:before {
  content: "\e906";
}
.xivo-favoris:before {
  content: "\e907";
}
.xivo-icone-menu-historique:before {
  content: "\e908";
}
.xivo-icone-menu-message:before {
  content: "\e909";
}
.xivo-importer-des-conatcts:before {
  content: "\e90a";
}
.xivo-ne-pas-deranger:before {
  content: "\e91a";
}
.xivo-menu:before {
  content: "\e90b";
}
.xivo-message:before {
  content: "\e90c";
}
.xivo-micro:before {
  content: "\e90d";
}
.xivo-modifier:before {
  content: "\e90e";
}
.xivo-on-off:before {
  content: "\e90f";
}
.xivo-pause-appel:before {
  content: "\e910";
}
.xivo-peripherique-de-sonnerie:before {
  content: "\e911";
}
.xivo-play:before {
  content: "\e912";
}
.xivo-renvoyer-appel-manque:before {
  content: "\e913";
}
.xivo-renvoyer-tout-appel:before {
  content: "\e914";
}
.xivo-retour:before {
  content: "\e915";
}
.xivo-meeting:before {
  content: "\e916";
}
.xivo-sonnerie:before {
  content: "\e917";
}
.xivo-supprimer:before {
  content: "\e918";
}
.xivo-telephone:before {
  content: "\e919";
}
.xivo-raccrocher:before {
  content: "\e91b";
}
.xivo-raccrocher-2:before {
  content: "\e91c";
}
.xivo-micro-ferme:before {
  content: "\e91d";
}
.xivo-raccrocher-3:before {
  content: "\e91e";
}
