@import "_variables.less";

.contact-sheet {
  display: flex;

  .avatar-status {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    .avatar-circle {
      width: 92px;
      height: 92px;
      span {
        font-size: 40px;
      }
    }
  }

  .avatar-star {
    position: relative;
    bottom: 15px;
    left: 70px;
    top: unset;
    right: unset;
  }

  &.header {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .close {
      position: absolute;
      right: 20px;
      top: 5px;
      padding: 15px;
      color: @color-light;
      opacity: 1;
      &:hover {
        color: @xivo-primary;
        opacity: 1;
      }
    }


    .name-surname {
      font-weight: bold;
      font-size: 20px;
    }
  }

  &.body {
    flex-direction: column;
    margin-bottom: 25px;
    overflow-y: scroll;
    max-height:  ~"calc(100vh - 415px)";
  }

  &.section {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    margin: 7.5px 15px;

    .title {
      color: black;
      font-weight: bold;
      margin: 15px 0 5px 0;
    }

    .line ~ .line {
      border-radius: unset;
    }
    .line:not(:has(~ .line)) {
      border-bottom: none;
      border-radius: 0 0 8px 8px;
    }

    .line {
      border-radius: 8px 8px 0 0;
      background-color: @xivo-light;
      display: flex;
      justify-content: space-between;
      border-bottom: @contact-sheet-border-color 1px solid;
      width: 100%;
      padding: 5px;


      .label {
        color: grey;
      }
      .value {
        display: inline-flex;
      }

      .copy {
        cursor: copy;
        margin-left: 10px;
        text-decoration: none;
      }
      a {
        text-decoration: none;
        &.send-email, &.send-email:hover {
          color: @color-normal;
        }
      }
    }
  }
}


.modal-open .modal.contact-sheet-modal {
  width: 0 !important;
  overflow: visible;

  &.fade.in {
    backdrop-filter: unset;
  }

  .modal-dialog {
    margin-top: 150px;
    width: 470px;
    left: 0;
    @media (max-height: 914px) {
      bottom: 0
    }
  }

  .modal-content {
    border-radius: 30px;
    background: linear-gradient(180deg, #EFF3FC 0%, #F3F3F3 100%);
    font-size: 16px;
    max-height: (100vh - 150px);
  }

  .modal-backdrop {
    width: 0;
  }
}