@import "../_variables.less";


@call-control-shadow: drop-shadow(-5px 2px 8px #ddd);
@color-menu: #8E8E93;
@device-button-background: #efefef;
@header-title: #eee;
@color-meetingroom: #81BEF7;


//Z-index guides:
@default-index: 0;
@modal-main: @default-index + 1040;
@jitsi-video: @modal-main + 20;
@message-resize: @jitsi-video + 10;
@hide-show-phone-bar: @message-resize + 10;
@arrow-wrapper : @hide-show-phone-bar + 10;
@thirdparty: @arrow-wrapper + 10;
@contact-sheet-border-color: #DDDCDC;