<div class="contact-sheet header">
    <div class="contact-status">
        <button type="button" class="close" ng-click="contactSheetonClose()"><i class="fa fa-times"></i></button>
        <div
                class="avatar-status {{contactSheetgetPhoneStateBackColor(contact)}}"
                title="{{contactSheetisMeetingRoom(contact) ? 'MEETING_ROOM' : contactSheetgetPhoneStateLabel(contact.status, contact.videoStatus) | translate}}">
            <div class="avatar-circle">
                <i ng-if="contactSheetisMeetingRoom(contact)" class="is-meeting-room fa fa-users"></i>
                <span ng-if="!contactSheetisMeetingRoom(contact)">{{ contact.initials }}</span>
            </div>
        </div>
        <div class="w-0">
            <div class="avatar-star align-star" ng-show='!contact.favorite && contact.contact_id' title="{{contactSheetisMeetingRoom(contact) ? 'MEETING_ROOM_FAVORITE':'CONTACT_FAVORITE' | translate}}">
                <a ng-click="contactSheetaddFavorite(contact, $event)" href="">
                    <span class="glyphicon glyphicon-star-empty glyph-btn"></span>
                </a>
            </div>
            <div class="avatar-star" ng-show='contact.favorite && contact.contact_id' title="{{'REMOVE_FAVORITE' | translate}}">
                <a ng-click="contactSheetremoveFavorite(contact, $event)" href="">
                    <span class="glyphicon glyphicon-star glyph-btn favorite"></span>
                </a>
            </div>
        </div>
    </div>



        <div class="action">

            <div class="call-buttons" ng-if="contactSheethasDetail(contact) && ((contactSheetisMeetingRoom(contact) && contactSheetisJitsiAvailable()) || !contactSheetisMeetingRoom(contact))">
                <div class="edit action button" ng-if="contact.personal" ui-sref="{{navigateToContactEditor(contact)}}" ng-click="$event.stopPropagation()">
                <span class="nd-action-button" title="{{ 'EDIT' | translate }}">
                    <span>
                        <i class="xivo-modifier"></i>
                    </span>
                </span>
                </div>
                <div class="share button" ng-if="contactSheetisMeetingRoom(contact)&& contact.url">
                <span  class="d-inline-flex number-line" title="{{'SHARE_LINK' | translate}}">
                    <div
                            class="call buton">
                        <span
                                class="nd-action-button"
                                ng-click="contactSheetclipboardPopup('meetingroom', $event)"
                                ngclipboard data-clipboard-text="{{contactSheetgenerateMeetingShareLink(contact)}}"
                                id="call-video-{{contact.contact_id}}">
                            <span>
                                <i class="fas fa-share-alt"></i>
                            </span>

                        </span>
                    </div>
                </span>
                </div>
                <div class="comments button" ng-if="!contactSheetisMeetingRoom(contact) && contactSheetcanShowChat(contact) && appConfig.chat">
                <span class="nd-action-button" ng-click="contactSheetgoToChat(contact.username,$event)" title="{{'CHAT' | translate}}">
                    <span>
                        <span>
                            <i class="xivo-message"></i>
                        </span>
                    </span>
                </span>
                </div>
                <div class="button" ng-if="contactSheetuserWithInviteToConferenceIcon(contact) || contactSheetmeetingRoomWithInviteToConferenceIcon(contact)">
                <span class="nd-action-button invite-to-conference-icon"
                      ng-click="contactSheetinviteToConference(contact.phoneNumbers[0], $event)"
                      title="{{'INVITE_TO_CONFERENCE' | translate}}"></span>
                    <div class="xivo-phone-plus-wrapper">
                        <span><i class="xivo-telephone"></i></span>
                        <i class="fa fa-plus xivo-phone-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="video-call button" ng-if="contactSheetisJitsiAvailable() && contactSheetisMeetingRoom(contact)">
                <span class="nd-action-button" title="{{ 'P2P_VIDEO_CALL' | translate}}" ng-click="join(contact, $event)">
                    <span>
                        <i class="xivo-appel-visio"></i>
                    </span>
                </span>
                </div>
                <div class="video-call button" ng-if="contactSheetisJitsiAvailable() && contactSheetcanInviteToMeetingRoom(contact)">
                <span class="nd-action-button"  title="{{ 'INVITE_TO_MEETING_ROOM' | translate}}" ng-click="contactSheetinviteToMeetingRoom(contact.username, contact.displayName, $event)">
                    <div class="fa-users-plus-wrapper">
                        <span><i class="fa fa-users fa-users-plus-0"></i></span>
                        <i class="fa fa-plus fa-users-plus-1" aria-hidden="true"></i>
                    </div>
                </span>
                </div>
                <div class="video-call button"
                     ng-if="contactSheetisJitsiAvailable() && !contactSheetisMeetingRoom(contact) && contactSheetcanShowVideo(contact) && !contactSheetcanInviteToMeetingRoom(contact)">
                <span class="nd-action-button" ng-if="contactSheetisJitsiAvailable() && !contactSheetcanInviteToMeetingRoom()"
                      title="{{'P2P_VIDEO_CALL' | translate}}"
                      ng-click="contactSheetstartPointToPointVideoCall(contact.username, contact.displayName, $event)">
                <span>
                    <i class="xivo-appel-visio"></i>
                    </span>
                </span>
                </div>
                <div class="call button" ng-if="contactSheetuserWithCallIcon(contact) || contactSheetmeetingRoomWithCallIcon(contact)">
                <span class="nd-action-button" ng-click="contactSheetmakeACall(contact, $event)" title="{{'PHONE_CALL' | translate}}">
                    <span>
                        <i class="xivo-telephone"></i>
                    </span>
                </span>
                </div>
                <div class="call button" ng-if="contactSheethasJustEmail(contact)">
                    <div class="email-button button"  title="{{'SEND_EMAIL' | translate}}">
                        <a href="" class="nd-action-button" ng-href="{{contact.mailToLink}}">
                            <span long-text="{{email}}" max-chars="{{emailMaxChars}}"></span>
                            <span>
                            <i class="fas fa-envelope"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="call-buttons" ng-if="contactSheetisMeetingRoom(contact) && !contactSheetisJitsiAvailable()">
                <div class="no-jitsi-error">{{'ERROR_NO_JITSI_AVAILABLE'}}</div>
            </div>
        </div>
    <div class="name-surname">{{contact.displayName}}</div>
    <div class="job">Job</div>
    <div class="business-unit">Business Unit</div>
</div>
<div class="contact-sheet body">
    <div class="contact-sheet section">
        <div class="title">Contacts</div>
        <div class="line">
            <div class="label">Téléphone Interne</div>
            <div class="value" ng-if="contact.phoneNumbers[0]">
                <span href="" ng-click="contactSheetmakeACall2(contact.phoneNumbers[0], $event)">
                    {{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[0] : (contact.phoneNumbers[0] | prettyPhoneNb) }}
                </span>
                <a class="clip copy"
                     ngclipboard
                     title="{{'COPY_CLIPBOARD' | translate}}"
                     ng-if="contact.phoneNumbers[0]"
                     ng-click="clipboardPopup('phone', $event)"
                     data-clipboard-text="{{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[0] : (contact.phoneNumbers[0] | prettyPhoneNb) }}" href="" >
                    <i class="fa fa-solid fa-copy"></i>
                </a>
            </div>
            <div class="value" ng-if="!contact.phoneNumbers[0]"></div>

        </div>
        <div class="line">
            <div class="label">Téléphone Pro</div>
            <div class="value copy" ng-if="contact.phoneNumbers[1]">
                <span href="" ng-click="contactSheetmakeACall2(contact.phoneNumbers[1], $event)">
                    {{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[1] : (contact.phoneNumbers[1] | prettyPhoneNb) }}
                </span>
                <a class="clip copy"
                   ngclipboard
                   title="{{'COPY_CLIPBOARD' | translate}}"
                   ng-click="clipboardPopup('phone', $event)"
                   data-clipboard-text="{{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[1] : (contact.phoneNumbers[1] | prettyPhoneNb) }}" href="" >
                    <i class="fa fa-solid fa-copy"></i>
                </a>
            </div>
            <div class="value" ng-if="!contact.phoneNumbers[1]"></div>
        </div>
        <div class="line">
            <div class="label">Téléphone Mobile</div>
            <div class="value copy" ng-if="contact.phoneNumbers[2]">
                <span href="" ng-click="contactSheetmakeACall2(contact.phoneNumbers[2], $event)">
                    {{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[2] : (contact.phoneNumbers[2] | prettyPhoneNb) }}
                </span>
                <a class="clip copy"
                   ngclipboard
                   title="{{'COPY_CLIPBOARD' | translate}}"
                   ng-click="clipboardPopup('phone', $event)"
                   data-clipboard-text="{{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[2] : (contact.phoneNumbers[2] | prettyPhoneNb) }}" href="" >
                    <i class="fa fa-solid fa-copy"></i>
                </a>
            </div>
            <div class="value" ng-if="!contact.phoneNumbers[2]"></div>
        </div>
        <div class="line">
            <div class="label">Téléphone Domicile</div>
            <div class="value copy" ng-if="contact.phoneNumbers[3]">
                <span href="" ng-click="contactSheetmakeACall2(contact.phoneNumbers[3], $event)">
                    {{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[3] : (contact.phoneNumbers[3] | prettyPhoneNb) }}
                </span>
                <a class="clip copy"
                   ngclipboard
                   title="{{'COPY_CLIPBOARD' | translate}}"
                   ng-if="contact.phoneNumbers[3]"
                   ng-click="clipboardPopup('phone', $event)"
                   data-clipboard-text="{{ isMeetingRoom(contact) ? '**' + contact.phoneNumbers[3] : (contact.phoneNumbers[3] | prettyPhoneNb) }}" href="" >
                    <i class="fa fa-solid fa-copy"></i>
                </a>
            </div>
            <div class="value" ng-if="!contact.phoneNumbers[3]"></div>
        </div>
        <div class="line">
            <div class="label">E-mail</div>
            <div class="value copy" ng-if="contact.email">
                <a href="" ng-href="{{contact.mailToLink}}" class="send-email">
                    <span long-text="{{email}}" max-chars="{{emailMaxChars}}"></span>
                    {{contact.email}}
                </a>
                <a class="clip copy"
                   ngclipboard
                   title="{{'COPY_CLIPBOARD' | translate}}"
                   ng-if="contact.phoneNumbers[0]"
                   ng-click="clipboardPopup('email', $event)"
                   data-clipboard-text="{{ contact.email }}" href="" >
                    <i class="fa fa-solid fa-copy"></i>
                </a>
                </div>
            <div class="value" ng-if="!contact.email"></div>
        </div>
        <div class="line">
            <div class="label">Télécopie</div>
            <div class="value"></div>
        </div>
    </div>
    <div class="contact-sheet section">
        <div class="title">Général</div>
        <div class="line">
            <div class="label">Fonction</div>
            <div class="value"></div>
        </div>
        <div class="line">
            <div class="label">Service</div>
            <div class="value"></div>
        </div>
        <div class="line">
            <div class="label">Manager</div>
            <div class="value"></div>
        </div>
        <div class="line">
            <div class="label">Société</div>
            <div class="value"></div>
        </div>
        <div class="line">
            <div class="label">Site Web</div>
            <div class="value"></div>
        </div>
    </div>
    <div class="contact-sheet section">
        <div class="title">Lieu d'affectation</div>
        <div class="line">
            <div class="label">Bureau</div>
            <div class="value"></div>
        </div>
        <div class="line">
            <div class="label">Adresse</div>
            <div class="value"></div>
        </div>
    </div>
</div>
<!--        ngclipboard ng-click="clipboardPopup('email', $event)" data-clipboard-text="{{contact.email}}" long-text="{{contact.email}}" max-chars="{{contact.emailMaxChars}}" -->