<div class="party-container">
  <div class="chat-header">
    <go-back-arrow action="gotoConversationHistory"></go-back-arrow>
    <div class="messages-header">
      {{remoteParty | userDisplayName}}
    </div>
    <call-remote-party remote-party="{{remoteParty}}" user-display-name="{{remoteParty | userDisplayName}}"></call-remote-party>
  </div> 
  <display-conversation remote-party="{{remoteParty}}"></display-conversation>
  <send-message remote-party="{{remoteParty}}"></send-message>
</div> 