@()(implicit i18nMessages: Messages)

<ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-class="{active: isActive('global')}" ng-click="setView('global')">
        <a href><span class="glyphicon glyphicon-th"></span>&nbsp;@i18nMessages("ccmanager.globalView")</a>
    </li>
    <li role="presentation" ng-class="{active: isActive('group')}" ng-click="setView('group')">
        <a href><span class="glyphicon glyphicon-stats"></span>&nbsp;@i18nMessages("ccmanager.groupView")</a>
    </li>
    <li role="presentation" ng-class="{active: isActive('queue')}" ng-click="setView('queue')">
        <a href><span class="glyphicon glyphicon-list"></span>&nbsp;@i18nMessages("ccmanager.queueView")</a>
    </li>
    <li role="presentation" ng-class="{active: isActive('agent')}" ng-click="setView('agent')">
        <a href><span class="glyphicon glyphicon-user"></span>&nbsp;@i18nMessages("ccmanager.agentView")</a>
    </li>
    <li role="presentation" ng-class="{active: isActive('callback')}" ng-click="setView('callback')" ng-show="showCallbacks">
        <a href><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;@i18nMessages("ccmanager.callbackView")</a>
    </li>
    <li role="presentation" ng-class="{active: isActive('qualification')}" ng-click="setView('qualification')">
        <a href><span class="glyphicon glyphicon-folder-open"></span>&nbsp;@i18nMessages("ccmanager.qualificationView")</a>
    </li>

</ul>
