@()

<div class="queueName">
    <span class="recording-status">
      <i class="recording-icon glyphicon" ng-class="ccQueuesCtrl.getRecordingIcon(queue.id)" title="{{'RECORDING_MODE_'+ccQueuesCtrl.getRecordingLabel(queue.id) | uppercase | translate}}"></i>
    </span>
    <a href="" ng-click="ccQueuesCtrl.showQueue(queue.id)">
        <span ng-if="option.compactView.value" long-text="{{ccQueuesCtrl.buildQueueName(queue,option.compactView.value)}}" max-chars="{{ccQueuesCtrl.maxQueueNameSize(queue.id)}}"></span>
        <span ng-if="!option.compactView.value">{{ccQueuesCtrl.buildQueueName(queue,option.compactView.value)}}</span>
    </a>
    @queueDetailModal()
</div>
<span class="queueIndicatorPanel" ng-show="!option.compactView.value">
    <d3-queue data="queue" get-metrics="ccQueuesCtrl.getMetrics()"></d3-queue>
</span>