
.call-state {
    .fa-play.good-quality {
        animation: blinkingGood 3s infinite;
    }
    .fa-play.medium-quality {
        animation: blinkingMedium 3s infinite;
    }
    .fa-play.bad-quality {
        animation: blinkingBad 3s infinite;
    }
}

.call-icon {
    .fa-play.good-quality {
        animation: blinkingGood 3s infinite;
    }
    .fa-play.medium-quality {
        animation: blinkingMedium 3s infinite;
    }
    .fa-play.bad-quality {
        animation: blinkingBad 3s infinite;
    }
}

@keyframes blinkingGood {
    0% {color: #555555}
    50% {color: @xivo-success}
    100% {color: #555555}
}

@keyframes blinkingMedium {
    0% {color: #555555}
    50% {color: @xivo-warning}
    100% {color: #555555}
}

@keyframes blinkingBad {
    0% {color: #555555}
    50% {color: @xivo-danger}
    100% {color: #555555}
}