@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

.ui-select-bootstrap {
  .btn {
    border: 1px @input-border solid;
    font-weight: inherit;
    font-size: 15px;
    font-family: roboto-bold;
    text-transform: none;
    padding: 10px 12px;
  }

  .btn-default:active, .btn-default:hover, .btn-default:active:hover {
    color: @color-normal !important;
    background: @select-search-background;
  }

  input.ui-select-search.form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }

  .ui-select-match > .btn {
    border-radius: 4px;
  }

  .ui-select-match-text {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-select-choices, .ui-select-no-choice {
    border-color: @input-border;
  }

  .ui-select-match-item.btn-primary,
  .ui-select-match-item.btn-primary:hover {
    border-color: @input-border;
  }

  .ui-select-choices-row>span {
    white-space: normal !important;
  }

  .ui-select-choices-row>span:hover {
    background-color: @select-content-submenu-background !important;
  }

  .ui-select-choices-row.active>span {
    background-color: @xivo-primary !important;
  }

  .ui-select-placeholder{
    font-family: roboto;
    text-transform: uppercase;
    color: @color-lighter;
  }

  .btn-default-focus {
    outline: none;
    box-shadow: none;
  }
}

.content-item {
  &.title {
    width: 180px;
    height: 10px;
    font-family: roboto;
    font-size: 14px;
    color: @xivo-dark-gray;
    margin-bottom: 15px;
  }
}